.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu span{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(109, 39, 173);
}
.menu a{
    text-decoration: none;
}
.active span{
    background: rgb(109, 39, 173); 
    color: white;
}
.menu span:hover{
    background-color: rgb(109, 39, 173);
    color: white;

}
html,body{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
}
.slide{
    display: flex;
    justify-content: center;
    background-color: white;
}
.catchy{

    color: rgb(71, 70, 70);
    
}

.btn{
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: blueviolet;
    color: white;
    border-radius: 6px;
    text-decoration: none;

}

.btn:hover{
    color:blueviolet;
    background-color: white;
    border: solid 2px blueviolet;
}
.pcontainer{
    text-align: center;
}
.products{
    background: white;
    border-radius: 6px;
    margin: 20px;
padding-bottom: 30px;
    box-shadow: 2px 2px 5px grey;
    overflow: hidden;
    width: auto;
    max-width: 300px;
}
.products img{
    height: 200px;
}
.row{
    display: flex;
    justify-content: center;
}
.footer{
    background-color: rgb(55, 14, 94);

    padding:32px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.fotter p{
    margin: 0px;
    padding: 0px;
}
#ok{


    margin: auto;
    
    text-align: center;
    
    
  
    
}
.card{
    background: white;
    border-radius: 10px;
     margin: 20px;
    /*padding:20px; */
    box-shadow: 2px 2px 5px grey;
    max-width: 80%;
}
.w-50{
    width: 50%;
}


.flex{
    display: flex;
}

.overflow-hidden{
    overflow: hidden;
}
.w-100{
    width: 100%;
}
.justify-center{
    justify-content: center;
}
.input{
    padding: 10px;
    border-radius: 5px;
    background:rgb(221, 221, 221);
    border: none;
    margin-bottom: 10px;
}

.bg-purple{
    background:rgb(86, 29, 139);
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.h-500{
    height: 500px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
